doctype
html
  head
    title My pug Template
body 
  div
    h2 My skills
    ul
      li php
      li mysql
      li sass
    div: a This Is Link
    img 
    p I love <b>PugJS</b> And <b>Sass</b>
    p 
      | I love 
      b pubJs
      |  and 
      b Sass
  |
  |
  .
    text belong to?
