doctype
html
  head
    title My pug Template
body 
  //In html code user can see the comment
  div
    h2 My skills
    ul
      li php
      li mysql
      li sass
    p <b>lorem</b>
    div: a This Is Link
    img 
//-But here the comments willnt appear to user
//In html code user can see the comment
//- Cool
  texting command
    texting second command

