doctype
html
  head
    title My pug Template
body 
  #osama
  .moemen
  button.click
  div(class='container',id='main')
    h2(class='main2') My skills
    ul(class='skill-list')
      li php
      li mysql
      li sass
    p.main-paragraph 
      | I love 
      b pubJs
      |  and 
      b Sass
    p#main-paragraph 
